*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background: linear-gradient(to bottom,rgb(163, 163, 235), rgb(32, 32, 126));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 195, 255, 0.103);
    padding: 1vh 1vw;
}
.nav-logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: black;
    background-clip: text;
    -webkit-text-stroke: 3px;
    -webkit-text-fill-color: transparent;
}
.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-links ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-links ul li{
    list-style: none;
    margin-inline: 2vw;
}
.nav-links ul li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: rgba(0, 0, 0);
}
.subscribe button{
    padding: 1vh 2vw;
    font-size: 1rem;
    font-weight: 700;
    outline:none;
    border: 1px solid black;
    background: transparent;
    border-radius: 20px;
    cursor:pointer;
    transition: .5s;
}
.subscribe button:hover{
    background:black;
    color:white;
}
main{
    padding: 1vh 1vw;
}
.home-container{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    padding-top: 10vh;
}
.home-left{
    max-width: 500px;
    text-align: center;
    color: #00fff2;
}
.home-left h1{
    font-size: 5vmin;
}
.home-right{
    display: flex;
    height: 60vh;
    max-width: 800px;
    min-width: 400px;
    border-radius: 20px;
    overflow:hidden;
}
.home-right img{
    width: 100%;
    height: 100%;
}
/* About Container */
.about-container h1{
    text-align: center;
    font-size: 5vmin;
    color: bisque;
    margin-bottom: 5vh;
}
.core-values-container{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 1vw;
}
.core-value-box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 20vw;
    height: 30vh;
    border: 1px solid white;
    border-radius: 20px;
    text-align: center;
    font-size: 3vmin;
    overflow: hidden;
    cursor: pointer;
}
.core-value-box .core-value-title{
    position: absolute;
    top: calc(50% - 100);
    left: calc(50% - 100);
    transition: .5s all ease-out;
}

.core-value-box .core-value-content{
    transform: translateX(500%);
    transition: .5s all ease;
}
.core-value-box:hover{
    box-shadow: 
    0 12px 20px rgba(0, 0, 0, 0.4), /* Darker outer shadow on hover */
    0 0 25px rgba(255, 255, 255, 0.8) inset; /* Golden outer glow on hover */
}
.core-value-box:hover .core-value-title{
    transform: translateX(-500%);
}
.core-value-box:hover .core-value-content{
    transform: translateX(0);
}