*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 195, 255, 0.103);
    padding: 1vh 1vw;
}
.nav-logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: black;
    background-clip: text;
    -webkit-text-stroke: 3px;
    -webkit-text-fill-color: transparent;
}
.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-links ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-links ul li{
    list-style: none;
    margin-inline: 2vw;
}